.deveco/
.vscode/

src/base/global/i18n_lite/tools/i18n-dat-tool/target/
src/device/hisilicon/hispark_pegasus/sdk_liteos/.sconsign.dblite
src/device/hisilicon/hispark_pegasus/sdk_liteos/build/build_tmp/
src/device/hisilicon/hispark_pegasus/sdk_liteos/build/scripts/__pycache__/
src/device/hisilicon/hispark_pegasus/sdk_liteos/ohos/
src/device/hisilicon/hispark_pegasus/sdk_liteos/output/
src/device/hisilicon/hispark_pegasus/sdk_liteos/third_party/u-boot-v2019.07/u-boot-v2019.07/
src/device/hisilicon/hispark_pegasus/sdk_liteos/tools/lzma_tool/lzma_tool.exe
src/device/hisilicon/hispark_pegasus/sdk_liteos/tools/nvtool/__pycache__/
src/device/hisilicon/hispark_pegasus/sdk_liteos/tools/nvtool/out_nv_bin/
src/device/hisilicon/hispark_pegasus/sdk_liteos/tools/nvtool/tools/nv/cdbm.exe
src/device/hisilicon/hispark_pegasus/sdk_liteos/tools/sign_tool/sign_tool.exe
src/ohos_config.json
src/out/
